*
{
	margin: 0;
	padding: 0;
	
	font-family: calibri;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
html
{
	background: #2b2d31;
}
header
{
	width: 100% !important;
	text-align: left;
	padding-bottom: 79px;
}
main
{
	padding-top: 10px;
	padding-bottom: 10px;

	color: lime;
	text-align: center;
	background-color:#262229;
	background-attachment: fixed;
}
/* -------------- FOOTER -------------- */
footer
{
	padding-top: 10px;
	padding-bottom: 5px;
	
	background: #2b2d31;
	color: #19191d;
	width: 100% !important;
	
	/* border-top: 4px solid #7F7F7F7F; */
	box-shadow: 0px -5px 5px #18181b;
	
	z-index: 2;
	position: relative;
	text-align: center;
}
footer a
{
	text-decoration: underline;
	color: #19191d;
}
footer a:hover
{
	text-decoration: none;
	color: #201027;
}
/* ------------------------------------ */

.menuIcon
{
	width: 50px;
	height: 50px;
	background: #331d3d;
	color:#ffffff;
	text-align: center;
	line-height: 60px;
	font-size: 25px;
	z-index: 100;
	border-radius: 10px;
	cursor: pointer;
	transition: .2s linear;
}
.menuIcon:hover
{
	opacity: .9;
	transform: scale(1.1);
}
.menuIcon.active
{
	
	background: #f1f1f1;
	color : #331d3d;
}


.navButtons
{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #331d3d ;
	top: 0;
	right: -100%;
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .6s;

	text-align: center;
	
	/* transform: translateX(100%); */
}
.navButtons.active
{
	right: 0;
}
.navButtons nav
{
	display: grid;
}
.navButtons li
{
	margin: 20px 0;
	overflow: hidden;
}
.navButtons li:hover
{
	transition: .2s linear;
	transform: scale(1.2);
}
.navButtons a
{
	color: white;
	font-size: 40px;
	font-weight: 700;
	position: relative;
	transition: .2s linear;
}
.navButtons a:hover
{
	color: #AA8ED6;
	
}


.navigation
{
	background: #AA8ED6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding: 14px 20px; */
	margin: auto;
	width: 100% !important;
	
		position: fixed;
		z-index: 10;
		box-shadow: 0px 5px 5px #18181b;
		padding: 19.5px 20px;/* important to compansate the icon */
}


.IconOnNav
{
	display: flex;
	align-items: center;
	justify-content: right;
	padding: 14px 20px;
	margin: auto;
	width: 100% !important;
	position: fixed;
	z-index: 200;
}
/* .IconOnNav.navButtons
{

} */


/* .navigation.active.nav
{
	background: #00000000;
	box-shadow: 0px 0px 0px #00000000;
	transition: 1s linear;
}

.navigation.active h1
{
	padding: 5px;
	z-index: 100;
	background: #AA8ED6;
	border-radius: 10px;
	transition: .2s linear;
} */


/* .navigation h1
{
	text-align: center;
	font-size: 50px;
	padding:10px;
	color:#ffffff;
	text-shadow: 2px 2px 2px #e0e0e0;
	
} */

.mainBlock
{
	background: #686868;
	width: 80%;
	margin-left : 10%;
	position: relative;
	z-index: 10;
	
	border-right: 4px solid #585858;
	border-left: 4px solid #585858;
}

.network
{
	font-size: 25px;
}

.projectBlock
{
	
	background: #232428;
	max-width: 750px;
	min-width: 425px;
	margin: 0 auto;
	
	/* margin-left : 10%; */
	/* position: relative; */
	/* z-index: 10; */
	border-radius: 25px;
	color: #f3edd6;
}
.projectTitle
{
	color: #f3edd6;
	font-size: 30px;
	text-align: center;

	transition: .2s linear;
} 

.projectTitle:hover
{
	transform: scale(1.1);
} 

/* ----------------------------------------------------------------------- */

.LanguagesBlock
{
	text-align: left !important;
	/* display: table-row; */
	/* box-sizing: border-box; */
	
	padding: 16px;
	/* padding-top: 16px;
	padding-bottom: 16px; */

	width: 100%;

	border-radius: 25px;
	background-color: #0d1116;;
}

.LanguagesTitle
{
	font-weight: 600 !important;
	color: #e6edf3;

	font-size: 20px !important;
	margin-bottom: 16px !important;
	margin-top: 0;

	/* display: block; */
	/* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.LanguagesBar
{
	display: block;
	margin-bottom: 8px !important;
}

.LanguagesList
{
    list-style: none !important;

	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;

	/* display: block;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

.LanguagesList li
{
    display: inline !important;
	text-align: -webkit-match-parent;
	
}

.Language
{
	display: inline-flex !important;
	margin-right: 16px !important;
	align-items: center !important;
	flex-wrap: nowrap !important;
}

.LanguageDot
{
    margin-right: 8px !important;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.LanguageName
{
	font-weight: 600 !important;
	margin-right: 4px !important;
	color: #e6edf3 !important;
}

.LanguagePercentage
{
	color: #848d97 !important;
	font-size: 12px !important;
}



.Progress {
    border-radius: 6px;
    display: flex;
    height: 8px;
    outline: 1px solid #0000;
    overflow: hidden;
}
.Progress-item {
	outline: 2px solid #0000;
}
.Progress-item+.Progress-item {
	margin-left: 2px;
}


/* ----------------------------------------------------------------------- */

.projectDescription
{
	text-align: left;

	padding: 16px;
	background-color: #18191C;
}

.projectDescriptionButton
{
	height: 30px;
	text-align: center;
	line-height: 39px;
	font-size: 25px;
	margin-top: 4px;
	margin-bottom: 16px;
}

.projectDescriptionButton:hover
{
	background-color: #0e001f;
	border-radius: 0px 0px 30px 30px;
}

/* ----------------------------------------------------------------------- */

.projectPreview
{
	padding-top: 25px;
	margin-bottom: 5px;

	position: relative;
	/* width: 100%; */
	/* margin: auto; */
	display: flex;
	align-items: center;
}

.previousImage,
.nextImage
{
	/* height: 50%; */
	padding-top: 10%;
	padding-bottom: 10%;
	/* width: 7%; */
	cursor: pointer;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
	opacity: 0.8;
	/* align-items: center; */
    /* transition: opacity 0.3s ease; */
    /* opacity: 0.5; */

    font-size: 25px;
	/* line-height: 50%; */
    /* padding: 10px; */
	transition: .2s linear;
	z-index: 2;
}

.previousImage
{
	left: 0;
	padding-right: 1%;
	border-radius: 0px 15px 15px 0px;
}

.nextImage
{
	right: 0;
	padding-left: 1%;
	border-radius: 15px 0px 0px 15px;

}

.previousImage:hover,
.nextImage:hover
{
	padding-top: 11%;
	padding-bottom: 11%;
	opacity: 1;
}
.previousImage:hover
{
	padding-right: 2%;
}
.nextImage:hover
{
	padding-left: 2%;
}

.numberImage
{
	cursor: default;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.8);
    color: rgba(220, 220, 220, 0.8);
	padding: 10px;
	position: absolute;
	top : 35px;
	right : 10px;
	border-radius: 15px;
	z-index: 2;
}

/* .imageContainer
{
	position: relative;
    height: 100%;
}
*/
.newImage
{
	position: absolute;
}
.newImage {
	opacity: 0;
    z-index: 1;
	width: 100%;
	left: 0;
}

@font-face {
	font-family: 'Elounda';
	src: url('Elounda-Regular.ttf');
  }
  

.EngineName
{
	font-size: 90px;
	color: #785cb4;
	text-shadow: #785cb4 1px 0 10px;
	font-family: 'Elounda';
}