*
{
	margin: 0;
	padding: 0;
	
	font-family: calibri;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
html
{
	background: #2b2d31;
}
header
{
	width: 100% !important;
	text-align: left;
	padding-bottom: 79px;
}
main
{
	padding-top: 10px;
	padding-bottom: 10px;

	color: lime;
	text-align: center;
	background-color:#262229;
	background-attachment: fixed;
}
/* -------------- FOOTER -------------- */
footer
{
	padding-top: 10px;
	padding-bottom: 5px;
	
	background: #2b2d31;
	color: #19191d;
	width: 100% !important;
	
	/* border-top: 4px solid #7F7F7F7F; */
	box-shadow: 0px -5px 5px #18181b;
	
	z-index: 2;
	position: relative;
	text-align: center;
}
footer a
{
	text-decoration: underline;
	color: #19191d;
}
footer a:hover
{
	text-decoration: none;
	color: #201027;
}
/* ------------------------------------ */

.menuIcon
{
	width: 50px;
	height: 50px;
	background: #331d3d;
	color:#ffffff;
	text-align: center;
	line-height: 60px;
	font-size: 25px;
	z-index: 100;
	border-radius: 10px;
	cursor: pointer;
	transition: .2s linear;
}
.menuIcon:hover
{
	opacity: .9;
	transform: scale(1.1);
}
.menuIcon.active
{
	
	background: #f1f1f1;
	color : #331d3d;
}


.navButtons
{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #331d3d ;
	top: 0;
	right: -100%;
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .6s;

	text-align: center;
	
	/* transform: translateX(100%); */
}
.navButtons.active
{
	right: 0;
}
.navButtons nav
{
	display: grid;
}
.navButtons li
{
	margin: 20px 0;
	overflow: hidden;
}
.navButtons li:hover
{
	transition: .2s linear;
	transform: scale(1.2);
}
.navButtons a
{
	color: white;
	font-size: 40px;
	font-weight: 700;
	position: relative;
	transition: .2s linear;
}
.navButtons a:hover
{
	color: #AA8ED6;
	
}


.navigation
{
	background: #AA8ED6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding: 14px 20px; */
	margin: auto;
	width: 100% !important;
	
		position: fixed;
		z-index: 10;
		box-shadow: 0px 5px 5px #18181b;
		padding: 19.5px 20px;/* important to compansate the icon */
}


.IconOnNav
{
	display: flex;
	align-items: center;
	justify-content: right;
	padding: 14px 20px;
	margin: auto;
	width: 100% !important;
	position: fixed;
	z-index: 200;
}
/* .IconOnNav.navButtons
{

} */


/* .navigation.active.nav
{
	background: #00000000;
	box-shadow: 0px 0px 0px #00000000;
	transition: 1s linear;
}

.navigation.active h1
{
	padding: 5px;
	z-index: 100;
	background: #AA8ED6;
	border-radius: 10px;
	transition: .2s linear;
} */


/* .navigation h1
{
	text-align: center;
	font-size: 50px;
	padding:10px;
	color:#ffffff;
	text-shadow: 2px 2px 2px #e0e0e0;
	
} */

.mainBlock
{
	background: #686868;
	width: 80%;
	margin-left : 10%;
	position: relative;
	z-index: 10;
	
	border-right: 4px solid #585858;
	border-left: 4px solid #585858;
}

.network
{
	font-size: 25px;
}

/* ----------------------------------------------------------------------- */









/* .imageContainer
{
	position: relative;
    height: 100%;
}
*/


/***********************************************
                 VIOLET ENGINE                  
***********************************************/

@font-face {
	font-family: 'Elounda';
	src: url('Elounda-Regular.ttf');
}
 
@font-face {
   font-family: 'Bubbl';
   src: url('Bubbl-ExtraBold.otf');
}

.EngineName
{
	font-size: 5.6em;
	color: #785cb4;
	text-shadow: #785cb4 1px 0 10px;
	font-family: 'Elounda';
}

.PreviewBlock
{
   max-width: 1024px;
   min-width: 425px;

   margin-right: auto;
   margin-left: auto;
}

.Part
{
   /* background-color: aqua; */
   width: 90%;

   margin-left: auto;
   margin-right: auto;
}

.PartName
{
   font-size: 3em;
   text-align: left;
   font-family: 'Bubbl';

   color: #785cb4;
	text-shadow: #785cb4 1px 0 10px;
}

.PartContent
{
   background-color: #0000002c;
	border-radius: 25px;
   padding: 15px;
   text-align: left;
   width: 95%;
   margin-left: auto;
   margin-right: auto;

   display: flex;
   flex-wrap: wrap;

   
}

.PartContent h3
{
   color: #bd95ff;

   font-size: 1.5em;
   padding-bottom: 10px;
}

.PartContent p
{
   color: #e2d0ff;

   font-size: 1em;
   font-weight: normal;
   
}

/* Install part */

#installReq
{
   height: 100%;
   width: 30%;
}

#installReqSpe
{
   height: 100%;
   width: 70%;
}

@media (max-width: 75rem)
{
   #installReq
   {
      width: 100%;
      padding-bottom: 15px;
   }
   #installReqSpe
   {
      width: 100%;
   }
}







/* Image slider */

.Preview
{
	padding-top: 25px;
	margin-bottom: 5px;

	position: relative;
	/* width: 100%; */
	/* margin: auto; */
	display: flex;
	align-items: center;
}

.PreviousImage,
.NextImage
{
	/* height: 50%; */
	padding-top: 10%;
	padding-bottom: 10%;
	/* width: 7%; */
	cursor: pointer;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
	opacity: 0.8;
	/* align-items: center; */
    /* transition: opacity 0.3s ease; */
    /* opacity: 0.5; */

    font-size: 25px;
	/* line-height: 50%; */
    /* padding: 10px; */
	transition: .2s linear;
	z-index: 2;
}

.PreviousImage
{
	left: 0;
	padding-right: 1%;
	border-radius: 0px 15px 15px 0px;
}

.NextImage
{
	right: 0;
	padding-left: 1%;
	border-radius: 15px 0px 0px 15px;

}

.PreviousImage:hover,
.NextImage:hover
{
	padding-top: 11%;
	padding-bottom: 11%;
	opacity: 1;
}
.PreviousImage:hover
{
	padding-right: 2%;
}
.NextImage:hover
{
	padding-left: 2%;
}

.NumberImage
{
	cursor: default;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.8);
    color: rgba(220, 220, 220, 0.8);
	padding: 10px;
	position: absolute;
	top : 35px;
	right : 10px;
	border-radius: 15px;
	z-index: 2;
}

.ImageContainer
{
   overflow: hidden;
   border-radius: 25px;
   position: relative;
	display: flex;
}

.PreviewImage,
.NewImage
{
   z-index: 1;
	width: 100%;
	left: 0;
   border-radius: 25px;
   object-fit: cover;
}
.NewImage
{
   opacity: 0;
   position: absolute;
}