*
{
	margin: 0;
	padding: 0;

	font-family: calibri;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
header
{
	background: #AA8ED6;
	width: 100% !important;
	
	box-shadow: 0px 5px 5px #18181b;
	
	position: relative;
	text-align: left;
}
main
{
	padding-top: 10px;
	padding-bottom: 10px;

	color: lime;
	text-align: center;
	background-color:#313338;
	background-attachment: fixed;
}
/* -------------- FOOTER -------------- */
footer
{
	padding-top: 10px;
	padding-bottom: 5px;
	
	background: #2b2d31;
	color: #19191d;
	width: 100% !important;
	
	/* border-top: 4px solid #7F7F7F7F; */
	box-shadow: 0px -5px 5px #18181b;
	
	z-index: 2;
	position: relative;
	text-align: center;
}
footer a
{
	text-decoration: underline;
	color: #19191d;
}
footer a:hover
{
	text-decoration: none;
	color: #201027;
}
/* ------------------------------------ */

.menuIcon
{
	width: 50px;
	height: 50px;
	background: #331d3d;
	color:#ffffff;
	text-align: center;
	line-height: 60px;
	font-size: 25px;
	z-index: 100;
	border-radius: 10px;
	cursor: pointer;
	transition: .2s linear;
}

.menuIcon:hover
{
	opacity: .9;
	transform: scale(1.1);
}

.menuIcon.active
{
	
	background: #f1f1f1;
	color : #331d3d;
}

.navButtons
{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #331d3d ;
	top: 0;
	right: -100%;
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .6s;
	/* transform: translateX(100%); */
}

.navButtons.active
{
	right: 0;
}

.navButtons nav
{
	display: grid;
}

.navButtons li
{
	margin: 20px 0;
	overflow: hidden;
}

.navButtons li:hover
{
	transition: .2s linear;
	transform: scale(1.2);
}

.navButtons a
{
	color: white;
	font-size: 40px;
	font-weight: 700;
	position: relative;
	transition: .2s linear;
}

.navButtons a:hover
{
	color: #AA8ED6;
	
}



.navigation
{
	background: #AA8ED6;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 20px;
	margin: auto;
	width: 100% !important;
	
	box-shadow: 0px 5px 5px #18181b;
	
}

.navigation.nav
{
	position: fixed;
	z-index: 50;
}

.navigation.active.nav
{
	background: #00000000;
	box-shadow: 0px 0px 0px #00000000;
	transition: 1s linear;
}

.navigation.active h1
{
	padding: 5px;
	z-index: 100;
	background: #AA8ED6;
	border-radius: 10px;
	transition: .2s linear;
}


/* .navigation h1
{
	text-align: center;
	font-size: 50px;
	padding:10px;
	color:#ffffff;
	text-shadow: 2px 2px 2px #e0e0e0;
	
} */




.mainBlock
{
	background: #686868;
	width: 80%;
	margin-left : 10%;
	position: relative;
	z-index: 10;
	
	border-right: 4px solid #585858;
	border-left: 4px solid #585858;
}

.network
{
	font-size: 25px;
}